# To understand some of these settings, see /etc/haproxy/haproxy.cfg
# and online manual at https://cbonte.github.io/haproxy-dconv/

global
    log         127.0.0.1 local2

    chroot      /var/lib/haproxy
    pidfile     /var/run/haproxy.pid
    maxconn     4000
    user        haproxy
    group       haproxy

    # Turn on stats unix socket
    stats socket /var/lib/haproxy/stats

    # Avoid warning when using SSL cert
    tune.ssl.default-dh-param 4096

    # Security tips from
    # https://hynek.me/articles/hardening-your-web-servers-ssl-ciphers/
    ssl-default-bind-options no-sslv3
    ssl-default-bind-ciphers ECDH+AESGCM:DH+AESGCM:ECDH+AES256:DH+AES256:ECDH+AES128:DH+AES:ECDH+3DES:DH+3DES:RSA+AESGCM:RSA+AES:RSA+3DES:!aNULL:!MD5:!DSS

    ssl-default-server-options no-sslv3
    ssl-default-server-ciphers ECDH+AESGCM:DH+AESGCM:ECDH+AES256:DH+AES256:ECDH+AES128:DH+AES:ECDH+3DES:DH+3DES:RSA+AESGCM:RSA+AES:RSA+3DES:!aNULL:!MD5:!DSS

defaults
    mode                    http
    log                     global
    option                  httplog
    option                  dontlognull
    option http-server-close
    option forwardfor       except 127.0.0.0/8
    option                  redispatch
    retries                 3
    timeout http-request    10s
    timeout queue           1m
    timeout connect         10s
    timeout client          10m
    timeout server          10m
    timeout http-keep-alive 10s
    timeout check           10s
    maxconn                 3000

frontend public
    # Redirect all HTTP traffic to HTTPS
    bind :80
    redirect scheme https code 301 if !{ ssl_fc }

    # HTTPS
    bind :443 ssl crt /etc/pki/tls/private/combined.pem

    # Redirect to the linked container
    default_backend linked_container

backend linked_container
    # Tell the backend that this is a secure connection,
    # even though it's getting plain HTTP.
    reqadd X-Forwarded-Proto:\ https

    # Redirect all traffic to the linked container
    server linked $LINKED_SERVER:$LINKED_PORT
